#blok
{
	width: 960px; height:580px;
	background-image: url(fon.png);
	background-repeat: no-repeat;
	background-size: 960px;
	border: 1px solid red; 
	margin: 0px auto; 
}
@keyframes fish1
{
	0%{left: 1163px;}
	20%{top: 310px; transform: skewX(20deg);}
	60%{top: 290px; transform: skewY(20deg);}
	100%{left:50px;}
}
@keyframes fish2
{
	0%{left: 1163px;transform: rotateY(180deg);}
	20%{top: 310px; transform: rotateY(180deg) skewX(20deg);}
	60%{top: 290px; transform: rotateY(180deg) skewY(20deg);}
	100%{left:50px; transform: rotateY(180deg);}
}
#fish
{
	width: 128px; height: 128px;
	/*border: 1px solid red;*/
	background:url(fish.png) no-repeat center;
	background-size: 128px;
	position : absolute;
	top: 300px; left: 1163px;
	transition: background 10s;
	animation-name: fish1;
	animation-delay: 2s;
	animation-iteration-count: 10;
	animation-duration: 10s;
	animation-timing-function: linear;
	z-index: 2;
}
#fish2
{
	width: 128px; height: 128px;
	/*border: 1px solid red;*/
	background:url(fish2.png) no-repeat center;
	background-size: 128px;
	position: absolute;
	top: 300px; left: 50px;
	transition: background 10s;
	animation-direction: reverse;
	animation-name: fish2;
	animation-duration: 10s;
	animation-delay: 10s;
	animation-iteration-count: 10;
	animation-timing-function: linear;
	z-index: 3;
}
@keyframes riba
{
	0%{left: 300px;transform: scale(1) skewY(10deg);  }
	10%{transform: scale(0.8); left: 400px;}
	20%{transform: scale(1) skewY(10deg);left: 500px;}
	30%{transform: scale(0.9);left: 600px;}
	40%{transform: scale(1) skewY(10deg);left: 700px;}
	50%{transform: scale(0.8);left: 800px;}

	50%{transform: scale(1);left: 800px;}
	60%{transform: scale(0.8) skewY(10deg);left: 700px;}
	70%{transform: scale(1);left: 600px;}
	80%{transform: scale(0.9) skewY(10deg);left: 500px;}
	90%{transform: scale(1); left: 400px;}
	100%{left: 300px;transform: scale(1) skewY(10deg);  }
}
#riba
{
	width: 128px; height: 128px;
	position: absolute;
	top: 420px; left: 300px;
	transition: all 5s;

	animation-name: riba;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: 10;

	background:url(riba.png) no-repeat; 
	z-index: 6;
}
#saf
	{
		width: 200px; height: 250px;
		border:0px solid red;
		position: absolute;
		top: 280px; left: 0px;
		z-index: 3;
		background-color: #fff;
	}
	#saf2
	{
		width: 200px; height: 250px;
		border:0px solid red;
		position: absolute;
		top: 280px; left: 1164px;
		z-index: 3;
		background-color: #fff;
	}

#blok1
{
	width: 140px; height: 200px;
	position: absolute;
	top: 300px; left: 250px;
	background:url(img/1305.png) no-repeat center;
	background-size: 100px;
	z-index:5; 
}
#blok2
{
	width: 128px; height: 128px;

	position: absolute;
	background: url(img/1303.png) no-repeat center;

	top: 350px; left: 550px;
	z-index: 5;
}
#blok3
{
	width: 128px; height: 128px;
	position: absolute;
	background: url(img/1304.png) no-repeat center;
	z-index: 5;

	top: 340px; left: 420px;
}
#b1
{
	width: 20px;
	height: 20px;
	background-color: #000;
	border: 1px solid #fff;
	position: relative;
}
#b2
{
	width: 20px;
	height: 20px;
	background-color: #000;
	border: 1px solid #fff;
	position: relative;
	}
#b3
{
	width: 20px;
	height: 20px;
	background-color: #000;
	border: 1px solid #fff;
	position: relative;
}
